<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASeqAkmU7Ujqj91QU1927YOFebEvou5Vg</string>
	<key>GCM_SENDER_ID</key>
	<string>123396758600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipewise</string>
	<key>PROJECT_ID</key>
	<string>recipewise-3ef87</string>
	<key>STORAGE_BUCKET</key>
	<string>recipewise-3ef87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123396758600:ios:50b4b5e80e9903a3804c7d</string>
</dict>
</plist>